"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3d0e556a-3406-4098-91a8-41092a1757e5"
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "383591af-ff37-430e-9478-df20518b6ed9"
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      pydocstyle:
        convention: "pep257"
        enabled: true
      yapf:
        enabled: true
  "linter-flake8": {}
  "linter-mypy":
    checkUntypedDefs: false
    executablePath: "python"
    followImports: "skip"
    lintTrigger: "LintAsYouType"
    warnIncompleteStub: false
  "linter-pycodestyle": {}
  "linter-pydocstyle":
    ignoreCodes: "D105"
  "linter-ui-default":
    panelHeight: 240
  "linter-write-good":
    additionalArgs: "--no-tooWordy --no-weasel --no-adverb"
    severityLevel: "Info"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "project-viewer":
    autoHide: true
    customWidth: 237
    disclaimer:
      v131: false
    panelPosition: "Left (first)"
    statusBar: true
    visibilityOption: "Remember state"
  "python-autopep8":
    formatOnSave: true
  "python-isort":
    sortOnSave: true
  "python-yapf":
    formatOnSave: true
    yapfStyle: "{based_on_style: pep8, indent_width: 4, SPLIT_BEFORE_FIRST_ARGUMENT: true, column_limit: 79}"
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.restructuredtext"
    ]
    knownWords: [
      "STC"
      "TODO"
      "todo"
      "SKU"
      "sku"
      "stcstores"
      "Surewear"
      "Allsorts"
      "stcadmin"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
  wrap:
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.restructuredtext"
    ]
".django.html.text":
  editor:
    tabLength: 4
".python.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "auto"
