"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3d0e556a-3406-4098-91a8-41092a1757e5"
  core:
    disabledPackages: [
      "language-python"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "383591af-ff37-430e-9478-df20518b6ed9"
  "linter-pydocstyle":
    ignoreCodes: "D105"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "python-isort":
    sortOnSave: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
".django.html.text":
  editor:
    tabLength: 4
