"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-mypy":
    lintOnChange: false
    mypyCommand: "pipenv run mypy"
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 90
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "b4acd394-9826-4793-b20b-3aa89fee8b16"
  "formatter-gofmt":
    a: {}
  "linter-eslint":
    lintHtmlFiles: true
  "linter-mypy":
    executablePath: "python"
  "linter-ui-default": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "python-isort":
    sortOnSave: true
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "split-diff":
    autoDiff: false
    ignoreWhitespace: true
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
